---
layout: layouts/base.vto
title: Color Home
---
<h1>Color</h1>

<p>
    Welcome!
    On these pages, you will find learning materials on color theory and assorted color systems.
    You can use the exercises to practice and to reflect on your progress.
</p>

<h2>Color Systems</h2>
{{ comp colorSystemsOverview }}{{ /comp }}

<h2>Exercises</h2>
<p>
    The following exercises may include tasks for any of the supported color systems.
    For more specific exercises, have a look at the respective color system page.
</p>
{{ comp exercisesOverview }}{{ /comp }}
