@import "constants";
@import "color-figure";
@import "color-exercise";
@import "color-experiment";
@import "navigation";

html {
  height: 100%; // For pushing the footer to the bottom of the page (see footer)
  box-sizing: border-box; // For keeping short pages <100% in height (see footer)
}

*,
*:before,
*:after {
  box-sizing: inherit; // For keeping short pages <100% in height (see footer)
}

body {
  height: 100%;
  background-color: @background_color;

  /* On large screens. */
  @media screen {
    @media (min-width: @wide_min_width) {
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}

main {
  padding: .5em;
  margin-left: auto;
  margin-right: auto;


  section {
    line-height: 175%;
    //overflow-x: hidden;

    .eqn {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .bibliography {
    a {
      word-wrap: break-word;
    }
  }

  .overview {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;

    a.overview-item {
      flex-grow: 1;
      box-shadow: .05em .05em .6em 0 rgb(65%, 65%, 65%);
      width: 20em;
      margin: .25em;
      color: black;
      font-weight: normal;
      text-decoration: none;
      transition: box-shadow .25s;

      h2 {
        margin-top: .5em;
        font-size: 125%;
      }

      img {
        float: left;
        width: auto;
        height: 10em;
        margin-right: .5em;
      }
    }

    a.overview-item:hover {
      box-shadow: .05em .05em .6em 0 rgb(25%, 25%, 25%);
    }
  }

  /* On large screens. */
  @media screen {
    @media (min-width: @wide_min_width) {
      max-width: @max_body_width;
      //margin-left: auto;
      //margin-right: auto;
      padding: 1em;
    }
  }
}

.main-container {
  /* Settings to keep the footer at the bottom of the page: */
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  color: rgb(50%, 50%, 50%);

  /* Keeping footer at the bottom of the page: https://codepen.io/cbracco/pen/zekgx */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  .separator {
    margin: 0 .5em;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: rgb(35%, 35%, 35%);
  }

  a:hover {
    color: rgb(15%, 15%, 15%);
  }

  a.license {
    img {
      height: 1.1em;
      margin-bottom: -.2em;
      filter: contrast(50%) brightness(175%);
    }
  }

  a.license:hover {
    img {
      filter: contrast(50%) brightness(130%);
    }
  }
}

h1 {
  color: @header_color;
}

h2 {
  margin-top: 2em;
}
