@import "constants";
@import "color-figure";
@import "color-exercise";
@import "color-experiment";
@import "navigation";


body {
  height: 100%;
  background-color: @background_color;

  /* On large screens. */
  @media screen {
    @media (min-width: @wide_min_width) {
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}

main {
  padding: .5em;
  margin-left: auto;
  margin-right: auto;


  section {
    line-height: 175%;
    //overflow-x: hidden;

    .eqn {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .overview {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;

    a.overview-item {
      flex-grow: 1;
      box-shadow: .05em .05em .6em 0 rgb(65%, 65%, 65%);
      width: 20em;
      margin: .25em;
      color: black;
      font-weight: normal;
      text-decoration: none;
      transition: box-shadow .25s;

      h2 {
        margin-top: .5em;
        font-size: 125%;
      }

      img {
        float: left;
        width: auto;
        height: 10em;
        margin-right: .5em;
      }
    }

    a.overview-item:hover {
      box-shadow: .05em .05em .6em 0 rgb(25%, 25%, 25%);
    }
  }

  /* On large screens. */
  @media screen {
    @media (min-width: @wide_min_width) {
      max-width: @max_body_width;
      //margin-left: auto;
      //margin-right: auto;
      padding: 1em;
    }
  }
}

h1 {
  color: @header_color;
}

h2 {
  margin-top: 2em;
}
