/* Aspect ratio 3:2 (like photos) */
/* TODO: Adapt for multiple visualizations per figure! */
/* Adapted from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 98%;
  padding: 0 0;
  margin-right: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 98%;
  height: 0.75rem;
  background: #818181;
  border: none;
  border-radius: 0.3rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.1em solid black;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
  margin-top: -0.16666667rem;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #818181;
}
input[type=range]::-moz-range-track {
  width: 98%;
  height: 0.75rem;
  background: #818181;
  border: none;
  border-radius: 0.3rem;
}
input[type=range]::-moz-range-thumb {
  border: 0.1em solid black;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  width: 98%;
  height: 0.75rem;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #818181;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #818181;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: 0.1em solid black;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e6e6e6;
}
input[type=range]:focus::-ms-fill-lower {
  background: #818181;
}
input[type=range]:focus::-ms-fill-upper {
  background: #818181;
}
/*
 * Slider and label arrangement.
 * With help from http://stackoverflow.com/questions/6713435/input-box-100-width-with-label-to-the-left
 */
.visualization-control.slider label {
  float: left;
  text-align: left;
  padding: 0 0.5em 0 0;
}
.visualization-control.slider input[type=number] {
  float: right;
  width: 5em;
  margin: 0 0 0 0.5em;
}
.visualization-control.slider .slider-container {
  overflow: hidden;
  display: block;
}
.visualization-control.slider input[type=range] {
  width: 100%;
}
.visualization-control.select {
  width: 100%;
}
.visualization-control.select label {
  float: left;
  text-align: left;
  padding: 0 0.5em 0 0;
}
.visualization-control.select .select-container {
  overflow: hidden;
  display: block;
}
.visualization-control.select .select-container select {
  width: 100%;
}
.visualization-control.check label {
  margin-left: .5em;
  cursor: pointer;
}
button {
  background: #e8e8e8;
  border: none;
  color: black;
  padding: 0.3em 0.7em 0.3em 0.7em;
  box-shadow: 0.1em 0.1em 0.1em #b3b3b3;
  cursor: pointer;
  cursor: hand;
  border-left: 0.1em solid #f8f8f8;
  border-top: 0.1em solid #f8f8f8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
button:hover {
  background: #d6d6d6;
}
button:disabled,
button:disabled:hover {
  color: #5a5a5a;
  background: #cdcdcd;
  cursor: default;
  border-left: 0.1em solid #e8e8e8;
  border-top: 0.1em solid #e8e8e8;
}
.figure,
figure {
  margin: 2em auto;
  box-shadow: 0.05em 0.05em 0.6em 0 #808080;
  background: #fafafa;
  line-height: 100%;
  overflow: hidden;
  max-width: 40em;
}
.figure img,
figure img {
  width: 100%;
  height: auto;
  max-height: 26.67em;
}
.figure .figure-title,
figure .figure-title,
.figure figcaption,
figure figcaption {
  padding: 0.45em 0.5em 0.45em 0.5em;
  background: #e6e6e6;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure .figure-title .visualization-instructions,
figure .figure-title .visualization-instructions,
.figure figcaption .visualization-instructions,
figure figcaption .visualization-instructions {
  font-size: smaller;
}
.figure .visualizations,
figure .visualizations,
.figure .side-by-side,
figure .side-by-side {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.figure .visualizations .img-container,
figure .visualizations .img-container,
.figure .side-by-side .img-container,
figure .side-by-side .img-container {
  flex-grow: 1;
  width: 100%;
  /* Center image (if single image, typically). */
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.figure .visualization,
figure .visualization {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #505050;
}
.figure .visualization canvas,
figure .visualization canvas {
  height: 100%;
}
.figure .visualization .vis-not-available,
figure .visualization .vis-not-available {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.figure .selected-color,
figure .selected-color {
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
  text-shadow: -0.1em 0 0 white, 0 -0.1em 0 white, 0.1em 0 0 white, 0 0.1em 0 white;
  background-color: white;
  border: .1em solid black;
}
.figure .aspect-ratio-preserver,
figure .aspect-ratio-preserver {
  position: relative;
}
.figure .aspect-ratio-preserver img.aspect-ratio,
figure .aspect-ratio-preserver img.aspect-ratio {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
}
.figure .aspect-ratio-preserver > .aspect-ratio-preservee,
figure .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure .aspect-ratio-preserver > canvas,
figure .aspect-ratio-preserver > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* To be included */
.fullscreen-figure {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.fullscreen-figure img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .fullscreen-figure {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .fullscreen-figure {
    flex-flow: column nowrap;
  }
}
.fullscreen-figure .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.fullscreen-figure .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.fullscreen-figure .aspect-ratio-preserver > .aspect-ratio-preservee,
.fullscreen-figure .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.fullscreen-button {
  text-decoration: underline;
  float: right;
  cursor: hand;
  cursor: pointer;
}
.figure:fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:fullscreen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:fullscreen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:fullscreen {
    flex-flow: column nowrap;
  }
}
.figure:fullscreen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:fullscreen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:fullscreen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.figure:-webkit-full-screen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:-webkit-full-screen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:-webkit-full-screen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:-webkit-full-screen {
    flex-flow: column nowrap;
  }
}
.figure:-webkit-full-screen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:-webkit-full-screen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:-webkit-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:-webkit-full-screen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.figure:-moz-full-screen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:-moz-full-screen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:-moz-full-screen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:-moz-full-screen {
    flex-flow: column nowrap;
  }
}
.figure:-moz-full-screen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:-moz-full-screen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:-moz-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:-moz-full-screen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.figure:-ms-fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
.figure:-ms-fullscreen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  .figure:-ms-fullscreen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  .figure:-ms-fullscreen {
    flex-flow: column nowrap;
  }
}
.figure:-ms-fullscreen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
.figure:-ms-fullscreen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
.figure:-ms-fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
.figure:-ms-fullscreen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
figure:fullscreen,
figure:-webkit-full-screen,
figure:-moz-full-screen,
figure:-ms-fullscreen {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  /*.visualizations {
    width: 100%;
    //height: 100%;
    flex-grow: 1;

    .visualization {
      height: 100%; // override 75% height for indiv. visualizations in comparisons
    }
  }*/
}
figure:fullscreen img.aspect-ratio,
figure:-webkit-full-screen img.aspect-ratio,
figure:-moz-full-screen img.aspect-ratio,
figure:-ms-fullscreen img.aspect-ratio {
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (orientation: landscape) {
  figure:fullscreen,
  figure:-webkit-full-screen,
  figure:-moz-full-screen,
  figure:-ms-fullscreen {
    flex-flow: row nowrap;
  }
}
@media (orientation: portrait) {
  figure:fullscreen,
  figure:-webkit-full-screen,
  figure:-moz-full-screen,
  figure:-ms-fullscreen {
    flex-flow: column nowrap;
  }
}
figure:fullscreen .figure-details,
figure:-webkit-full-screen .figure-details,
figure:-moz-full-screen .figure-details,
figure:-ms-fullscreen .figure-details {
  background-color: white;
  overflow: auto;
  height: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.05em 0.15em 0 #808080;
}
figure:fullscreen .aspect-ratio-preserver,
figure:-webkit-full-screen .aspect-ratio-preserver,
figure:-moz-full-screen .aspect-ratio-preserver,
figure:-ms-fullscreen .aspect-ratio-preserver {
  position: static;
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
}
figure:fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:-webkit-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:-moz-full-screen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:-ms-fullscreen .aspect-ratio-preserver > .aspect-ratio-preservee,
figure:fullscreen .aspect-ratio-preserver > canvas,
figure:-webkit-full-screen .aspect-ratio-preserver > canvas,
figure:-moz-full-screen .aspect-ratio-preserver > canvas,
figure:-ms-fullscreen .aspect-ratio-preserver > canvas {
  position: static;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}
.visualization-controls,
.visualization-controls-advanced {
  padding: 0.3em 0.5em;
}
.visualization-controls .visualization-control,
.visualization-controls-advanced .visualization-control {
  padding: .5em 0 .5em 0;
}
.visualization-controls .visualization-controls-group,
.visualization-controls-advanced .visualization-controls-group {
  margin-bottom: 1em;
}
.visualization-controls .visualization-controls-group:last-child,
.visualization-controls-advanced .visualization-controls-group:last-child {
  margin-bottom: 0;
}
.visualization-controls .visualization-controls-system-header,
.visualization-controls-advanced .visualization-controls-system-header {
  font-size: 1em;
  margin: .5em 0 0 0;
}
.visualization-controls table.controls-table,
.visualization-controls-advanced table.controls-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.visualization-controls table.controls-table td.shrink,
.visualization-controls-advanced table.controls-table td.shrink {
  white-space: nowrap;
}
.visualization-controls table.controls-table td.expand,
.visualization-controls-advanced table.controls-table td.expand {
  width: 100%;
}
.visualization-controls-advanced-toggle {
  margin: 0;
  padding: 0.45em 0.5em 0.45em 0.5em;
  background: #ebebeb;
  box-shadow: 0 0.05em 0.15em 0 #808080;
  cursor: hand;
  cursor: pointer;
  font-size: 1em;
}
.visualization-controls-advanced-toggle .text {
  font-weight: normal;
  text-decoration: underline;
}
.visualization-controls-advanced-toggle .arrow {
  display: inline-block;
  -webkit-transform-origin: 33% 50%;
  -moz-transform-origin: 33% 50%;
  -o-transform-origin: 33% 50%;
  transform-origin: 33% 50%;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.visualization-controls-advanced-toggle .arrow-rotated {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.figref a:link,
.tabref a:link,
.eqref a:link,
.figref a:visited,
.tabref a:visited,
.eqref a:visited {
  text-decoration: none;
  color: #4d4d4d;
}
.figref a:hover,
.tabref a:hover,
.eqref a:hover {
  text-decoration: underline;
  color: #808080;
}
.tab {
  margin: 2em 0;
}
