/* Aspect ratio 3:2 (like photos) */
/* TODO: Adapt for multiple visualizations per figure! */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background: #333333;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  color: #a6a6a6;
  /* On large screens. */
}
.sidenav ul {
  list-style-type: none;
  padding: .25em .5em 0 .75em;
}
.sidenav ul li {
  margin-top: 1em;
}
.sidenav ul li ul > li {
  margin-top: .25em;
}
.sidenav ul li > ul {
  list-style-type: disc;
  padding-left: 1em;
}
.sidenav a {
  text-decoration: none;
  display: block;
  transition: .15s;
  color: #ffffff;
}
.sidenav a:hover,
.sidenav a:focus {
  color: #bfbfbf;
}
.sidenav a.is-active {
  color: #cccccc;
}
.sidenav a.is-active:before {
  content: "\25BA";
  margin-right: .25em;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: .2em;
  font-size: 350%;
  margin-left: 0;
}
@media screen and (min-width: 54em) {
  .sidenav {
    width: 13em;
    box-shadow: 0 0 .6em 0 black;
  }
  .sidenav .closebtn {
    display: none;
  }
}
.sidenav.open {
  width: 13em;
  box-shadow: 0 0 .6em 0 black;
}
/* On large screens. */
@media screen and (min-width: 54em) {
  .main-container {
    transition: margin-left 0.5s;
    margin-left: 13em;
  }
}
.topnav {
  background: #333333;
  margin: 0;
  padding: 0;
  width: 100%;
  /* On large screens. */
}
@media screen and (min-width: 54em) {
  .topnav {
    display: none;
  }
}
.menu-button {
  padding: .25em .5em;
  font-size: 150%;
  display: inline-block;
  cursor: pointer;
}
.menu-button div {
  width: 1em;
  height: 0.14285714em;
  background-color: white;
  margin: 0.2em 0;
  transition: 0.4s;
}
.menu-button:hover div,
.menu-button:focus div {
  background-color: #bfbfbf;
}
