{% extends 'color/exercise_base.html.twig' %}

{% set exercise_title = 'Color Conversion Selection Exercise'%}

{% block exercise %}
    <div class="exercise"
         data-num-rounds="10"
         data-task-types='[
            {
                "name": "ColorConversionSelection",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "mixed_conversion_systems": false,
                    "show_target_visualization": false,
                    "show_conversion_visualization": false,
                    "show_visualization": false,
                    "visualization_options": {},
                    "max_attempts": 2,
                    "allow_skip_after_first_attempt": true,
                    "num_options": 5
                },
                "weight": 1
            }
         ]'
    >
    </div>
{% endblock %}
