{% extends 'color/exercise_base.html.twig' %}

{% set exercise_title = 'Color Conversion Exercise' %}

{% block exercise %}
    <div class="exercise"
         data-num-rounds="10"
         data-task-types='[
            {
                "name": "ColorConversion",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "show_target_visualization": false,
                    "show_conversion_visualization": false,
                    "show_visualization": false,
                    "visualization_options": {},
                    "max_attempts": 3,
                    "allow_skip_after_first_attempt": true,
                    "show_current_color": false,
                    "show_target_color": false
                },
                "weight": 1
            }
         ]'
    >
    </div>
{% endblock %}
