{% extends 'base.html.twig' %}

{% block title %}Color Conversion Exercise{% endblock %}

{% block body %}
    <h1>Color Conversion Exercise</h1>
    <p>
        <b>Color systems:</b>
        {{ color_systems|join(', ') }}
    </p>

    {# TODO: If e.g. user is in exp. group A and this includes HSV/CMY, block the exercise! #}
    <div class="exercise"
         data-num-rounds="10"
         data-task-types='[
            {
                "name": "ColorConversion",
                "options": {
                    "color_systems": [
                        {% set color_system_strs = [] %}
                        {% for system in color_systems %}
                            {% set color_system_strs = color_system_strs|merge(['"%s"'|format(system)]) %}
                        {% endfor %}
                        {{ color_system_strs|join(',') }}
                    ],
                    "show_target_visualization": false,
                    "show_conversion_visualization": false,
                    "show_visualization": false,
                    "visualization_options": {},
                    "max_attempts": 3,
                    "allow_skip_after_first_attempt": true,
                    "show_current_color": false,
                    "show_target_color": false
                },
                "weight": 1
            }
         ]'
    >
    </div>
{% endblock %}
