{% extends 'base.html.twig' %}

{% set page_title = 'Exercises' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <p>
        You may use these to practice and to reflect on your progress.
    </p>
    <p>
        The following exercises may include tasks for any of the supported color systems.
        For more specific exercises, have a look at the respective color system page.
    </p>
    {% include 'color/exercises/exercises_overview.html.twig' %}

    <p>
        <a href="{{ path('exercise', {'exercise_name': 'advanced_config', 'color_systems': []}) }}">
            Advanced exercise configurator (for presentations)
        </a>
    </p>
{% endblock %}
