{% extends 'color/exercise_base.html.twig' %}

{% set exercise_title = 'Color Matching Exercise' %}

{% block exercise %}
    <div class="exercise"
         data-num-rounds="10"
         data-allow-random-units="true"
         data-random-units="false"
         data-task-types='[
            {
                "name": "ColorMatching",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "show_visualization": true,
                    "visualization_options": {},
                    "max_attempts": 3,
                    "allow_skip_after_first_attempt": true,
                    "show_current_color": true,
                    "show_target_color": true,
                    "show_hints": true
                },
                "weight": 1
            }
         ]'
         {% if experiment_active and app.user is defined and all_available_ex is defined and all_available_ex %}
             data-post-to="{{ path('exercise-complete', {'exercise_name': 'matching'}) }}"
         {% endif %}
    >
    </div>
{% endblock %}