{% extends 'color/exercise_base.html.twig' %}

{% set exercise_title = 'Mixed Exercise' %}

{% block exercise %}
    <div class="exercise"
         data-num-rounds="15"
         data-allow-random-units="true"
         data-random-units="false"
         data-task-types='[
            {
                "name": "ColorSelection",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "show_visualization": false,
                    "visualization_options": {},
                    "max_attempts": 3,
                    "allow_skip_after_first_attempt": true,
                    "num_options": 8
                },
                "weight": 1
            },
            {
                "name": "ColorMatching",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "show_visualization": true,
                    "visualization_options": {},
                    "max_attempts": 3,
                    "allow_skip_after_first_attempt": true,
                    "show_current_color": true,
                    "show_target_color": true,
                    "show_hints": false
                },
                "weight": 1
            },
            {
                "name": "ColorConversionSelection",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "mixed_conversion_systems": false,
                    "show_target_visualization": false,
                    "show_conversion_visualization": false,
                    "show_visualization": false,
                    "visualization_options": {},
                    "max_attempts": 2,
                    "allow_skip_after_first_attempt": true,
                    "num_options": 5
                },
                "weight": 1
            },
            {
                "name": "ColorConversion",
                "options": {
                    "color_systems": [
                        {{ color_system_strs|join(',') }}
                    ],
                    "show_target_visualization": false,
                    "show_conversion_visualization": false,
                    "show_visualization": false,
                    "visualization_options": {},
                    "max_attempts": 3,
                    "allow_skip_after_first_attempt": true,
                    "show_current_color": false,
                    "show_target_color": false,
                    "show_hints": false,
                    "easy_hsl_hsv_colors": true
                },
                "weight": 1
            }
         ]'
    >
    </div>
{% endblock %}