---
layout: layouts/base.vto
title: RGB
---
<h1>{{ title }}</h1>

<section id="introduction">
    <p>
        RGB is an acronym for red, green, and blue.
        Colors in this system are produced by adding different intensities of red, green and blue light.
        This principle is called additive color mixing and is used e.g. in LCD displays as shown in
        <span class="figref" data-fig-id="fig-lcd">the figure below</span>.
        Each pixel is made up of a red, a green, and a blue subpixel.
    </p>
    <div class="figure" id="fig-lcd">
        <img src="/img/macro_zoom.jpg" alt="A macro shot of an LCD monitor."/>
        <div class="figure-title">Close-up photograph of a matte LCD monitor.</div>
    </div>
</section>

<section id="model">
    <h2>The RGB Color Model</h2>
    <p>
        The RGB color model can be understood as a cube in a three-dimensional Cartesian coordinate system
        with one axis each for the red, green and blue channels [BB09b, p. 186].
        A color can therefore be defined as a vector \((r,g,b)^\mathsf{T}\),
        where \(r\), \(g\), and \(b\) are the color's intensities for each channel.
        For the purpose of distinguishing RGB from other color models, we define the
        tuple \((r, g, b)_\text{RGB} := (r,g,b)^\mathsf{T}\).
        <span class="figref" data-fig-id="fig-rgb-vis">The figure</span>
        shows the RGB cube with each channel's value in the \([0, 1]\) interval.
        However, in computer graphics, integral values between 0 and 255
        &ndash; between 0 and FF in the hexadecimal system &ndash; are also a popular choice.
        For example, RGB colors can be specified in either notation both in CSS [Çe11] and OpenGL.
    </p>
    <div class="figure" id="fig-rgb-vis">
        <div class="rgb-cube visualization aspect-ratio-preserver">
            <img class="aspect-ratio" src="/img/3by2aspect.png" />
            {{# TODO: CSS can now do this without hacks #}}
        </div>
        <div class="figure-details">
            <div class="selected-color"></div>
            <div class="figure-title">
                The RGB cube.<br/>
                <span class="visualization-instructions">
                    Click and drag to rotate, scroll to zoom.
                    On a touch screen, drag to rotate around the y-axis and use two fingers to zoom
                    or to rotate around the x-axis.
                </span>
            </div>
            <div class="visualization-controls"></div>
            <div class="visualization-controls-advanced"></div>
        </div>
    </div>
    <div class="exercise-recommendations">
        <b>Recommended exercises for this page:</b>
        <ul>
            <li>Color matching:</li>
            <ul>
                <li><a href="/exercises/matching/?color_systems=rgb">RGB</a></li>
            </ul>
            <li>Color selection:</li>
            <ul>
                <li><a href="/exercises/selection/?color_systems=rgb">RGB</a></li>
            </ul>
        </ul>
    </div>
</section>

<section id="literature" class="bibliography">
    <h2>Literature</h2>
    <dl>
        <dt>[BB09b]</dt>
        <dd>
            Burger, Wilhelm; Burge, Mark J.: Principles of Digital Image Processing: Fundamental Techniques.
            Undergraduate Topics in Computer Science.
            Springer-Verlag London, 1st edition, 2009.
        </dd>

        <dt>[Çe11]</dt>
        <dd>
            Çelik, Tantek; Lilley, Chris; Baron, L David et al.: CSS Color Module
            Level 3: W3C Recommendation 07 June 2011. World Wide Web Consortium,
            <a href="http://www.w3.org/TR/2011/REC-css3-color-20110607">
                http://www.w3.org/TR/2011/REC-css3-color-20110607</a>,
            2011. Accessed: 2016-08-24.
        </dd>

        <dt>[Ho]</dt>
        <dd>
            How to interpret the sRGB color space (specified in IEC 61966-2-1) for
            ICC profiles. World Wide Web Consortium,
            <a href="https://www.w3.org/Graphics/Color/srgb">https://www.w3.org/Graphics/Color/srgb</a>.
            Accessed: 2016-08-24.
        </dd>
    </dl>
</section>
