@import "constants";
@import "color-figure";

html {
  height: 100%;
  background-color: @background_color;

  /* On large screens. */
  @media screen {
    @media (min-width: @wide_min_width) {
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}

body {
  padding: .5em;
  border: 1px solid black;

  /* On large screens. */
  @media screen {
    @media (min-width: @wide_min_width) {
      max-width: @max_body_width;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
    }
  }
}

h1 {
  color: @header_color;
}
