{% extends 'base.html.twig' %}

{% block title %}About Project Color{% endblock %}

{% block body %}
    <section id="about">
        <h1>About</h1>

        <p>
            This website is the product of my Bachelor's thesis with the title
            "Conceptualization and Prototypical Implementation in WebGL of an Exercise in Color Theory".
            Not all color systems covered in the thesis made it onto this website.
            If you wish to learn more, you can have a look at the
            <a href="{{ asset('downloads/thesis.pdf') }}">full thesis</a> (PDF, 1.4MiB).
            The source code is available in a
            <a href="https://github.com/lumpiluk/cs-bachelor-color">git repository on GitHub</a>.
        </p>
        <p>
            My name is Lukas Stratmann and I study computer science at
            <a href="http://www.uni-paderborn.de/en/universitaet/">Paderborn University</a>
            (status 2017).
            {# TODO: link to slightly anonymized PDF #}
        </p>
    </section>
{% endblock %}
