{% extends 'base.html.twig' %}

{% set page_title = 'Color Systems' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <section>

    </section>
{% endblock %}
