{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="exercise-recommendations">
        Recommended exercises:
        {% block exercise_recommendations %}{% endblock %}
    </div>

    <h1>{{ page_title }}</h1>

    {% block color_system_content %}{% endblock %}
{% endblock %}
