---
layout: layouts/base.vto
title: Exercises
---
<h1>{{ title }}</h1>

<p>
    You may use these to practice and to reflect on your progress.
</p>
<p>
    The following exercises may include tasks for any of the supported color systems.
    For more specific exercises, have a look at the respective color system page.
</p>
{{ comp exercisesOverview }}{{ /comp }}

<p>
    <a href="/exercises/advanced-config/">
        Advanced exercise configurator (for presentations)
    </a>
</p>
