<div class="overview">
    <a class="overview-item" href="/exercises/matching/">
        <img src="/img/matching_thumbnail.png"/>
        <h2>Color Matching</h2>
        <p>Reproduce a given color.</p>
    </a>
    <a class="overview-item" href="/exercises/selection/">
        <img src="/img/color_selection_thumbnail.png"/>
        <h2>Color Selection</h2>
        <p>You are given a color in numerical form. Find it among a list of color patches.</p>
    </a>
    <a class="overview-item" href="/exercises/conversion-selection/">
        <img src="/img/conversion_selection_thumbnail.png"/>
        <h2>Color Conversion Selection</h2>
        <p>You are given a color in numerical form. Select the correct conversion from a list.</p>
    </a>
    <a class="overview-item" href="/exercises/conversion/">
        <img src="/img/conversion_thumbnail.png"/>
        <h2>Color Conversion</h2>
        <p>Convert a given color.</p>
    </a>
    <a class="overview-item" href="/exercises/mixed/">
        <img src="/img/mixed_exercise_thumbnail.png"/>
        <h2>Mixed Exercise</h2>
        <p>All of the above</p>
    </a>
</div>
