<h3>Registration complete!</h3>

<p>
    Thank you for helping with the evaluation of the product of my Bachelor thesis!
    You can now log in at <a href="http://color.lukas-stratmann.com">color.lukas-stratmann.com</a>
    using the following key with your IMT user name:
</p>
<p>
    <b>{{ key }}</b>
</p>
<p>
    Kind regards,<br/>
    Lukas Stratmann
</p>
